@import url('https://fonts.googleapis.com/css2?family=Montserrat');


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 20px;
}

p b {
  color: #000000;
}

p {
  color: #696969;
}

a, .link {
  text-decoration: none;
  color: #78b7d8;
}

a:hover, .link:hover {
  color: #696969;
  cursor: pointer;
}

nav a {
  color: #696969;
}

nav a:hover{
  color: #000000;
}

.narrow-container{
  margin: 20px 15%;
}

.double-space{
  line-height: 2;
}

input{
  border: 1px solid #cacaca;
  padding: 0 16px;
  border-radius: 10px;
  line-height: 2;
  width: 60%;
  margin-bottom: 16px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


/* ---------------- STATEMENTS --------------- */

.statement {
  line-height: 30px;
}

.statement td {
  padding-right: 75px;
}

.statement__header {
  color: #489fd9;
  font-weight: bold;
}

.statement__item {
}

.statement__line-item {
  border-top: 1px solid lightgrey;
  line-height: 40px;
  font-weight: bold;
}

.statement__empty-row {
  height: 12px;
}

/* -------------- */